body {
    margin: 0px;
}

/* Body Header */

#body-header {
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    height: 70vh;
    opacity: 0.8;    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Horizontal List */

.horizontal-navigation {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.text-center {
    text-align: center;
}

.horizontal-navigation li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 8px;
    margin-left: 8px;
}

#nav-horizontal-list {
    margin-bottom: -1rem;;
}

.horizontal-navigation li a {
    color: white;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
}

.nav-menu li a:hover {
    color:antiquewhite;
    border-bottom: 1px;
    border-bottom-style: solid;
}

/* Name */

.name-container {
    margin-top: 7rem;
}

#name {
    color: white;
    font-size: 15vh;
    font-weight: 600;
    text-align: center;
    margin-bottom: -1rem;
}

/* Navigation Image */

.social-icons li a i {
    padding: 5px;
    margin-top: -200px;
    margin-bottom: 40px;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 4px 4px rgba(230,196,196,0.3);
}

/* Photo */

#photo img {
    display: block;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* About Paragraph */

#about-para {
    display: block;
}

#about-para p {
    margin-top: 200px;
    font-size: 2rem;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.text-highlight {
    color: blue;
    font-weight: 600;
}


/* Creating Skills Section using Flex */

section {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

#skills {
    margin-top: 100px;
    height:auto;
    background-color: #9e9b9b29;
}

#skills h1 {
    padding-top: 50px;
    margin-bottom: 100px;
    font-size: 3rem;
    color: #0707ad;
}

#skills span {
    font-size: 2rem;
}

.skills-display {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill-name {
    padding-left: 1rem;
    margin-top: auto;
    color: white;
}

.skills-progress {
    height: 2.5rem;
    width: 10rem;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: lightgrey;
    border-radius: 0.5rem;
}

.thirty-percent {
    width: 30%;
    height: inherit;
}

.forty-percent {
    width: 40%;
    height: inherit;
}

.sixty-percent {
    width: 60%;
    height: inherit;
}

.seventy-percent {
    width: 70%;
    height: inherit;
}

.ninety-percent {
    width: 90%;
    height: inherit;
}

.background-blue {
    border-radius: 0.5rem;
    background-color: blue;
}

.background-orange {
    border-radius: 0.5rem;
    background-color: orange;
}

.background-green {
    border-radius: 0.5rem;
    background-color: green;
}

.background-red {
    border-radius: 0.5rem;
    background-color: red;
}

.background-brown {
    border-radius: 0.5rem;
    background-color: brown;
}

.background-purple {
    border-radius: 0.5rem;
    background-color:purple;
}


/* Adding Contact Section */
#contact {
    height:auto;
    background-image: linear-gradient(to right, #2857a4, #403066);
    padding-bottom: 100px;
}

#contact h1 {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 3rem;
    color: white;
}

 .contact-display {
     display: flex;
     flex-wrap: wrap;
 }

 #leftdiv {
     width: 40%;
     margin-left: 100px;
 }

#leftdiv div input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-bottom: 3px solid white;
}

 #rightdiv {
     width: 30%;
     margin-left: 100px;
     margin-right: 100px;
     color: white;
 }

 #send input:hover{
     background:steelblue;
 }


 /* Work Experience */

 #experience {
    height:auto;
    padding-bottom: 100px;
}

 #experience h1 {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 3rem;
    color: #0707ad;
}

/* Timeline */
.timeline {
    position: relative;
    width: 80%;
    /* border: 2px solid black; */
}

.timeline-box {
    background-color: beige;
    position: relative;
    width: 45%;
    left: 5%;
    margin: 5px;
    min-height: 200px;
    padding-bottom: 25px;
    padding-top: 25px;
    /* border: 2px solid black; */
}

/* all even children of timeline should be in the right side */
.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box h2 {
    font-size: 2.5rem;
    position: relative;
    margin-top: 10px;
    color: red;
}

.timeline-box h3 {
    font-size: 1.5rem;
    left: 2%;
    position: relative;
    color: blue;
    margin-top: -25px;
}

.timeline-box h4 {
    position: relative;
    left: 3%;
    color: black;
    margin-top: -20px;
    font-weight: 600;
}

.timeline-box h2::before {
    display: inline-block;
    content: '';
    background-image: url("Images/codingninjas.jfif");
    background-size: contain;
    height: 30px;
    width: 30px;
}

.timeline-box ul li{
    font-size: 1.4rem;
}
